.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Make the container cover the entire viewport height */
  margin: 0;

  h1 {
    margin-bottom: 0.0rem;
    color: #000;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Adjust the max-width as needed */
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
    margin-top: 20px; /* Adjust the margin-top as needed */
  
    label {
      color: #000; /* Set the color of labels to black */
    }
  }
  

  input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  .buttonGroup {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    button {
      background-color: #fbd815;
      width: 100%;
      max-width: 13rem; /* Adjust the max-width as needed */
      margin: 0 0.5rem;
      padding: 0.5rem 1rem;
      font-size: 1.1em;
      border-radius: 25px;
      border-color: #D5D9D9;
      border-style: solid;
      border-width: 1px;

      &:hover:not([disabled]) {
        background-color: #eecf1d;
        cursor: pointer;
      }

      &:disabled {
        opacity: .5;
        background-color: rgb(4, 2, 123);
      }
    }
  }
}
